.card {
  display: flex;
  flex-flow: column;
  border: 0.5px solid;
  border-radius: 10px;
  padding: 20px;
  box-shadow:  2px 2px 2px 1px var(--text-shadow);

  min-height: 300px;
  width: 25vw;

  @media only screen and (max-width: 882px) {
    width: 40vw;
  }

  @media only screen and (max-width: 800px) {
    width: 35vw;
  }

  @media only screen and (max-width: 720px) {
    width: 30vw;
  }

  @media only screen and (max-width: 620px) {
    width: 80vw;
  }

  .header {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
  }

  .text {
    color: var(--footer);
    text-shadow: .5px .5px 1px darkgray;
  }

  .content {
    flex: 1 1 auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      max-height: 200px;
      max-width: 200px;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;

    .details-btn {
      border: none;
      background-color: var(--footer);
      color: var(--text);
      text-shadow: .5px .5px 1px black;
      padding: 5px 10px;
      border-radius: 5px;
      box-shadow:  1px 1px 1px 1px var(--text-shadow);

      &:disabled {
        background-color: lightgray;
        color: var(--text);
      }

      &:hover {
        box-shadow:  2px 2px 2px 1px var(--text-shadow);
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}