.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--banner);
  color: var(--text);
  text-shadow: var(--bg) 1px 0 10px;
  height: 10vh;
  padding-left: 20px;
  gap: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.login-logout-signup-btn {
  background-color: transparent;
  color: var(--text);
  text-shadow: var(--bg) 1px 0 10px;
  font-weight: bold;
  border: none;
}

.cart {
  height: 2.5vh;
  margin-right: 20px;
  filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(74deg) brightness(111%) contrast(101%);
  // filter: invert(0%) sepia(79%) saturate(0%) hue-rotate(105deg) brightness(98%) contrast(104%);
}