.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--banner);
  color: var(--bg);
  text-shadow: var(--text) 1px 0 10px;
  height: 10vh;
  padding-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.login-logout-signup-btn {
  background-color: transparent;
  color: var(--bg);
  text-shadow: var(--text) 1px 0 10px;
  border: none;
  margin-right: 20px;
}