.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-container {
  height: 100%;
  width: 100%;
  color: black;
}

.item-container {

  .item {
    flex-direction: row;
    height: 50px;
    width: 100%;

    .item-qty {
      width: 10%;
    }

    .item-img {
      height: 50px;
      width: 20%;
    }

    .item-title {
      width: 50%;
    }

    .item-price {
      width: 20%;
    }
  }
}