.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.product {
  height: 100%;

  .details {
    gap: 20px;
    width: 50%;

    @media (max-width:320px)  { width: 85%; }
    @media (max-width:481px)  { width: 80%; }
    @media (max-width:641px)  { width: 70%; }
  }

  .img {
    max-height: 200px;
    max-width: 200px;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}