<div class="container product" *ngIf="(product$ | async) as product">
  <div class="container col details">
    <p>{{ product.title }}</p>
    <p>{{ product.category }}</p>
    <img src="{{product.image}}" alt="product for sale" class="img">
    <p>{{ product.description }}</p>
    <div class="row footer">
      <star-rating [starType]="'svg'" [rating]="product.rating.rate"></star-rating>
      <p>1</p>
    </div>
    <div class="row footer">
      <p>Price: {{ product.price | formatPrice }}</p>
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>

  </div>
</div>