.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--footer);
  color: var(--text);
  text-shadow: var(--bg) 1px 0 10px;
  height: 5vh;
}