<div class="container">
  <div class="content" *ngIf="products$">
    <div *ngFor="let product of (products$ | async)">
      <div class="product-card">
        <p>{{ product.category }}</p>
        <p>{{ product.title }}</p>
        <img src="{{product.image}}" alt="product for sale" class="product-img">
        <!-- <p>{{ product.description }}</p> -->
        <!-- <p>{{ product.rating.rate }}</p> -->
        <div class="product-card-price">
          <p class="price">{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
