.container {
  background-color: #fff;
  color: var(--text-dark);
  height: 85vh;
  overflow: auto;

  .content {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
}

.product-card {
  width: 40vw;

  @media only screen and (max-width: 541px) {
    width: 80vw;
  }
}