<div class="container">
  <!-- <div class="content" *ngIf="products$"> -->
    <!-- <div *ngFor="let product of (products$ | async)">
      <div class="card">
        <div class="header">
          <p>{{ product.title }}</p>
        </div>
        <div class="content">
          <img src="{{product.image}}" alt="product for sale" class="img">
        </div>
        <div class="footer">
          <p>{{ product.category }}</p>
          <span class="spacer"></span>
          <p>{{ product.price }}</p>
        </div>
      </div>
    </div> -->
    <app-products [products]="products$" ></app-products>
  <!-- </div> -->
</div>
