:root {
  --bg: #303030;
  --banner: #C3002F;
  --footer: #166AC6;
  --text: #eee;
  --text-dark: #000;
  --text-shadow: #303030;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: Georgia, serif;
}

.spacer {
  flex: 1 1 auto;
}
